body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1DB954;
    padding: 20px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header h1 {
    margin: 0 0 20px 0;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

#navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
}

#data-options, #time-options {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#data-options li, #time-options li {
    margin-left: 20px; /* Space between each item */
}

#data-options li a, #time-options li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s;
}

#data-options li a:hover, #time-options li a:hover {
    color: #000000;
}

.container {
    text-align: center;
    padding: 50px;
}

canvas {
    max-width: 100%;
    height: auto;
}
